@charset "UTF-8";
/* CSS Document */




/*
font-family: 'Dosis', sans-serif;
font-family: 'Alex Brush', cursive;
*/

#container{
	font-size: 18px;
	font-family: "Times New Roman", Times, serif;
}
/*TextLink
--------------------*/
a:link{
	color: #2a2a2a;
}
a:active{
	color: #2a2a2a;
}
a:hover{
	opacity: 0.7;
}
a:visited{
	color: #2a2a2a;
}

ul li{
	list-style-type: none;
}

header#header{
	position: fixed;
	z-index: 100;
	width: 100%;
	background: rgba(255, 255, 255, 0.7);
}

header#header div#headerInner{
	width: 80%;
	margin: 0 auto;
}

header#header div#headerInner h1{
	display: inline-block;
}

header#header div#headerInner nav{
	display: inline-block;
	margin: 28px 0 0 100px;
	vertical-align: top;
}

header#header div#headerInner ul#menu li{
	display: inline-block;
	margin: 0 20px 0 0;
	font-family: 'Dosis', sans-serif;
}
header#header div#headerInner ul#menu li a{
	text-decoration: none;
}

#wrap #videoWrap{
	 position: relative;
	 z-index: 10;
}
#wrap #videoWrap video{

}

footer#footer{
	position: fixed;
	z-index: 100;
	bottom: 0px;
	width: 100%;
	padding: 20px 0 20px;
	text-align: center;
	background: rgba(255, 255, 255, 0.7);
}
#copyright{
	text-align: center;
}