#container{
	display: block;
	width: 80%;
	margin: 30px auto;
	h1{
		display: block;
		width: 20%;
		margin: 0 auto;
		padding: 20px 0;
		color: #fff;
		background-color: #909090;
		text-align: center;
	}
}
ul{
	li{
		list-style-type: none;
		list-style-position: inside;
	}
}

input[type="submit"],
input[type="reset"]{
	color: #fff;
	border: 0px;
	padding: 16px;
	min-width: 160px;
}
input[type="submit"]{
	margin: 0 auto 10px;
	background-color: #004ec1;
}
input[type="reset"]{
	background-color: #ff003d;
}



#task-1{
	margin: 30px auto 80px;
	legend{
		font-size: 20px;
	}
	fieldset{
		width: 100%;
		border: solid 2px #1f1f1f;
		padding: 20px;
	}
	.wrap{
		display: flex;
		justify-content: center;
	}
	.box{
		width: 50%;
	}
	ul{
		li{
			margin: 0 0 20px;
		}
	}
	label{
		span{
			display: inline-block;
			width: 200px;
			vertical-align: top;
		}
	}
	input[type="text"],
	input[type="email"],
	textarea{
		width: 200px;
		border: solid 2px #d7d7d7;
	}
	textarea{
		min-height: 80px;
	}

	.leftBox{
	}
	.rightBox{
		position: relative;
		ul{
			position: absolute;
			bottom: 0px;
		}
	}
}
#task-2{
	legend{
		font-size: 20px;
	}
	fieldset{
		width: 100%;
		border: solid 2px #1f1f1f;
		padding: 20px;
	}
	.wrap{
		display: flex;
		justify-content: center;
	}
	.box{
		width: 30%;
	}
	.gender{
		select{
			width: 80%;
		}
	}
	.hobbies{
		label{
			span{
				display: inline-block;
				width: 50px;
			}
		}

	}
	.course{
		label{
			display: block;
		}
	}
	.rightBtn{
		display: inline-block;
		width: 90%;
		margin: 40px 0 0;
		input{
			float: right;
		}
	}
}

#copyright{
	margin: 30px auto;
	text-align: center;
}